@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  color: #181818;
}
body p {
  font-family: "Popins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Popins", sans-serif;
}

.nav-item, .navlink {
  font-family: "Popins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

img {
  justify-content: center;
  padding: 35px;
}

.navbar-brand img {
  max-width: 300px;
  height: auto;
}

.carousel-inner,
.carousel-item {
  width: 100%;
  height: 800px;
}
.carousel-inner img,
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Propiedad Carrusel */
.carousel-caption h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

/* Propiedades del catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.catalog .card {
  border-radius: 1rem;
  overflow: hidden;
}

.catalog .card-img-top {
  object-fit: cover;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.catalog .card-body {
  padding: 1.5rem;
}

.catalog .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.catalog .card-text {
  font-size: 1rem;
  color: #555;
}

.catalog .btn-primary {
  background-color: #007bff;
  border: none;
}

.catalog .btn-primary:hover {
  background-color: #0056b3;
}

.catalog .btn-primary {
  background-color: #050505; /* Cambia este valor al color deseado para el fondo del botón */
  border: none; /* Elimina el borde si es necesario */
  color: #fff; /* Cambia el color del texto del botón */
}

.catalog .btn-primary:hover {
  background-color: #7bc88c; /* Cambia este valor al color deseado para el fondo del botón en estado hover */
  color: #fff; /* Asegúrate de que el color del texto sea legible sobre el nuevo color de fondo */
}

/* Propiedad Testimonios */
.testimonials .card {
  border-radius: none;
  overflow: hidden;
}

.testimonials .card-body {
  padding: 2rem;
}

.testimonials .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.testimonials .card-text {
  font-size: 1rem;
  color: #181818;
}

.testimonials img {
  border: solid #e9ecef;
  padding: 5px;
  background-color: #181818;
}

form .btn-primary {
  background-color: #181818; /* Color de fondo del botón */
  border: none; /* Elimina el borde del botón */
  color: #F5F5F5; /* Color del texto del botón */
  border-radius: 0.25rem; /* Bordes redondeados del botón */
  padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

form .btn-primary:hover {
  background-color: #3C3C3C; /* Color de fondo en estado hover */
  color: #F5F5F5; /* Color del texto en estado hover */
}

/* Propiedades del catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.catalog .card {
  border-radius: 1rem;
  overflow: hidden;
}

.catalog .card-img-top {
  object-fit: cover;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.catalog .card-body {
  padding: 1.5rem;
}

.catalog .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.catalog .card-text {
  font-size: 1rem;
  color: #555;
}

.catalog .btn-primary {
  background-color: #007bff;
  border: none;
}

.catalog .btn-primary:hover {
  background-color: #0056b3;
}

.catalog .btn-primary {
  background-color: #050505; /* Cambia este valor al color deseado para el fondo del botón */
  border: none; /* Elimina el borde si es necesario */
  color: #fff; /* Cambia el color del texto del botón */
}

.catalog .btn-primary:hover {
  background-color: #7bc88c; /* Cambia este valor al color deseado para el fondo del botón en estado hover */
  color: #fff; /* Asegúrate de que el color del texto sea legible sobre el nuevo color de fondo */
}

/* Propiedades del blog */
.blog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-titulo {
  text-align: center;
}

.blog-entrada {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-contenido {
  padding: 15px;
}

.blog-contenido h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.blog-contenido .fecha {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.blog-contenido p {
  line-height: 1.6;
}

.img-blog {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-contenido .leermas {
  display: inline-block;
  background-color: #050505;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin-top: 10px;
}

.blog-contenido .leermas:hover {
  background-color: #7bc88c;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .navbar-brand {
    display: flex;
  }
  img {
    justify-content: center;
    padding: 10px;
  }
  .navbar-brand img {
    max-width: 200px; /* Tamaño del logo en dispositivos móviles */
    height: auto;
  }
  .navbar-toggler {
    margin-right: 1px; /* Ajusta este valor según la separación que desees */
  }
  .navbar-nav .nav-link {
    padding: 1px 2px; /* Ajusta el espacio entre los enlaces del menú */
  }
}
@media (max-width: 768px) {
  .nav-item a {
    font-weight: 200; /* Tamaño de letra en dispositivos móviles */
    font-style: normal;
  }
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item {
    width: 100%;
    height: 400px;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 140%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
