@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4, p {
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 30px;
}
.navbar .navbar-brand {
  display: flex;
}
.navbar img {
  display: block;
  max-width: 250px;
  height: auto;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  font-size: 22px;
  font-style: bold;
}
.navbar a:hover {
  color: #9a9a9a;
}

.carousel-inner,
.carousel-item {
  width: 100%;
  height: auto;
}
.carousel-inner img,
.carousel-item img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* Propiedad Carrusel */
.carousel-caption h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

/* Propiedades del catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.catalog .card {
  border-radius: 1rem;
  overflow: hidden;
}

.catalog .card-img-top {
  object-fit: cover;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.catalog .card-body {
  padding: 1.5rem;
}

.catalog .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.catalog .card-text {
  font-size: 1rem;
  color: #000;
}

.catalog .btn-primary {
  background-color: #000; /* Cambia este valor al color deseado para el fondo del botón */
  border: none; /* Elimina el borde si es necesario */
  color: #fff; /* Cambia el color del texto del botón */
}

.catalog .btn-primary:hover {
  background-color: rgba(152, 151, 151, 0.5058823529); /* Cambia este valor al color deseado para el fondo del botón en estado hover */
  color: #fff; /* Asegúrate de que el color del texto sea legible sobre el nuevo color de fondo */
}

/* Propiedad Testimonios */
.testimonio .card {
  border-radius: none;
  overflow: hidden;
}

.testimonio .card-body {
  padding: 2rem;
}

.testimonio .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.testimonio .card-text {
  font-size: 1rem;
  color: #000;
}

.testimonio img {
  border: solid #fff;
  padding: 5px;
  background-color: #000;
}

form .btn-primary {
  background-color: #000; /* Color de fondo del botón */
  border: none; /* Elimina el borde del botón */
  color: #fff; /* Color del texto del botón */
  border-radius: 0.25rem; /* Bordes redondeados del botón */
  padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

form .btn-primary:hover {
  background-color: #666; /* Color de fondo en estado hover */
  color: #fff; /* Color del texto en estado hover */
}

.footer {
  background-color: #fff;
  color: #000;
  padding: 2rem 0;
  justify-content: center;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 1.5rem;
}
.footer__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__text {
  margin-bottom: 0.5rem;
}
.footer__text i {
  margin-right: 0.5rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__link {
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.footer__social-link {
  color: #000;
  font-size: 1.2rem;
}
.footer__social-link:hover {
  opacity: 0.8;
}
.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #fff;
}
.footer__copyright {
  font-size: 0.9rem;
}

/* Propiedades del catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.catalog .card {
  border-radius: 1rem;
  overflow: hidden;
}

.catalog .card-img-top {
  object-fit: cover;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.catalog .card-body {
  padding: 1.5rem;
}

.catalog .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.catalog .card-text {
  font-size: 1rem;
  color: #000;
}

.catalog .btn-primary {
  background-color: #000; /* Cambia este valor al color deseado para el fondo del botón */
  border: none; /* Elimina el borde si es necesario */
  color: #fff; /* Cambia el color del texto del botón */
}

.catalog .btn-primary:hover {
  background-color: rgba(152, 151, 151, 0.5058823529); /* Cambia este valor al color deseado para el fondo del botón en estado hover */
  color: #fff; /* Asegúrate de que el color del texto sea legible sobre el nuevo color de fondo */
}

/* Propiedades del blog */
.blog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-titulo {
  text-align: center;
}

.blog-entrada {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-contenido {
  padding: 15px;
}

.blog-contenido h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.blog-contenido .fecha {
  color: #000;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.blog-contenido p {
  line-height: 1.6;
}

.img-blog {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-contenido .leermas {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin-top: 10px;
}

.blog-contenido .leermas:hover {
  background-color: none;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-section .hero-content {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
  color: #000;
}
.hero-section .hero-content .hero-tagline {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000;
}
.hero-section .hero-content .hero-title {
  font-family: "Quicksand", sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  font-weight: bold;
  color: #000;
}
.hero-section .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-section .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.seccion-nosotros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
}
.seccion-nosotros .contenedor-imagen {
  width: 45%;
}
.seccion-nosotros .contenedor-imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.seccion-nosotros .contenido-texto {
  width: 50%;
  display: block;
}
.seccion-nosotros .contenido-texto h1 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.seccion-nosotros .contenido-texto p {
  font-size: 1.5rem;
  color: #000;
  padding-right: 60px;
  margin-bottom: 8px;
  line-height: 2;
  text-align: justify;
}

.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.contact-page h1, .contact-page h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-page .join-us {
  margin-bottom: 40px;
}
.contact-page .join-us .disclaimer {
  font-style: italic;
}
.contact-page .join-us .allergy-info {
  font-size: 0.9em;
  margin-top: 20px;
}
.contact-page .location {
  margin-bottom: 40px;
}
.contact-page .location address {
  margin-bottom: 20px;
}
.contact-page .location .get-directions {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.contact-page .contact-us .note {
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-page .contact-us .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.contact-page .contact-us .contact-info .email {
  color: #000;
  text-decoration: none;
}
.contact-page .contact-us .contact-info .social-icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
.contact-page .contact-us .contact-form .form-group {
  margin-bottom: 20px;
}
.contact-page .contact-us .contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.contact-page .contact-us .contact-form .form-group input, .contact-page .contact-us .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  background-color: rgba(197, 191, 191, 0.27);
  border: none;
}
.contact-page .contact-us .contact-form .form-group textarea {
  height: 150px;
}
.contact-page .contact-us .contact-form .send-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .navbar .navbar-brand {
    display: flex;
  }
  .navbar img {
    justify-content: center;
    padding: 10px;
  }
  .navbar .navbar-brand img {
    max-width: 200px; /* Tamaño del logo en dispositivos móviles */
    height: auto;
  }
}
@media (max-width: 768px) {
  .hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .hero-section .hero-content {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 2;
    color: #000;
  }
  .hero-section .hero-content .hero-tagline {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #000;
  }
  .hero-section .hero-content .hero-title {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    line-height: 0.8;
    font-weight: bold;
    color: #000;
  }
  .hero-section .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(80%);
  }
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item {
    width: 100%;
    height: 400px;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 140%;
    object-fit: cover;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .seccion-nosotros {
    flex-direction: column;
    padding: 10px;
  }
  .seccion-nosotros .contenedor-imagen,
  .seccion-nosotros .contenido-texto {
    width: 100%;
    padding-left: 0;
  }
  .seccion-nosotros .contenido-texto {
    padding-top: 20px;
    display: block;
    justify-content: stretch;
  }
  .seccion-nosotros .contenido-texto h1 {
    text-align: center;
    padding: 0%;
    font-size: 1.5rem;
  }
  .seccion-nosotros .contenido-texto p {
    padding: 0;
    font-size: 0.9rem;
    text-align: justify;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
