
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   
    h1, h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    

    .join-us {
        margin-bottom: 40px;
      

        .disclaimer {
            font-style: italic;
        }

        .allergy-info {
            font-size: 0.9em;
            margin-top: 20px;
        }
    }

    .location {
        margin-bottom: 40px;

        address {
            margin-bottom: 20px;
        }

        .get-directions {
            @include button-style;
        }
    }

    .contact-us {
        .note {
            font-weight: bold;
            margin-bottom: 20px;
        }
        

        .contact-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .email {
                color: $color-black;
                text-decoration: none;
            }
            
            .social-icons {
                a {
                    color: $color-white;
                    text-decoration: none;
                    margin-left: 10px;
                }
            }
        }

        .contact-form {
            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    
                }

                input, textarea {
                    width: 100%;
                    padding: 10px;
                    background-color: rgba(197, 191, 191, 0.27);
                    border: none;
                }

                textarea {
                    height: 150px;
                }
                
            }

            .send-button {
                @include button-style;
            }
        }
    }
}