//Sección portada
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        filter: brightness(80%); // Opcional: ajusta la iluminación de la imagen si es necesario
    }
}
  .hero-content {
      position: absolute;
      top: 10%;
      left: 5%;
      z-index: 2;
      color: $color-black; 

      .hero-tagline {
          font-family: $font-main;
          font-size: 2.7rem; 
          margin-bottom: 1rem;
          color: $color-black; 
      }

      .hero-title {
          font-family: $font-main;
          font-size: 6.5rem; 
          line-height: 0.8;
          font-weight: bold;
          color: $color-black; // Color del texto
      }
  }
}




// Sección nosotros

.seccion-nosotros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: $color-white;

  .contenedor-imagen {
    width: 45%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .contenido-texto {
    width: 50%;
    // padding-left: 10px;
    display: block;
    

    h1 {
      font-size: 2.5rem;
      color: $color-black; // Ajusta el color según tu diseño}
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      color: $color-black; // Ajusta el color según tu diseño
      padding-right: 60px;
      margin-bottom: 8px;
      line-height: 2;
      text-align: justify;

    }
  }
}
