  @media  (max-width: 768px) {
    .navbar {
      padding: 10px;

    }
    
    .navbar-brand {
      display: flex;
      // width: 100%;
    }

    img {
      justify-content: center;
      padding: 10px;
    }

    .navbar-brand img {
        max-width: 200px;  /* Tamaño del logo en dispositivos móviles */
        height: auto;
    }
   
    .navbar-toggler {
      margin-right: 1px; /* Ajusta este valor según la separación que desees */
    }
   
    .navbar-nav .nav-link {
      padding: 1px 2px; /* Ajusta el espacio entre los enlaces del menú */

    }
  }

  @media (max-width: 768px) {
    .nav-item a {
        font-weight: 200;   /* Tamaño de letra en dispositivos móviles */
        font-style: normal;
    }
  }

  @media (max-width: 768px) {
    .carousel-inner .carousel-item {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 140%;
            object-fit: cover;
        }
    }
  }
  