@media (max-width: 768px) {
    .navbar-brand img {
      max-width: 140px; /* Tamaño del logo en dispositivos móviles */
    }
  }


  @media (max-width: 768px) {
    .nav-item a {
        font-weight: 200;   /* Tamaño de letra en dispositivos móviles */
        font-style: normal;
    }
  }

  @media (max-width: 768px) {
    .carousel-inner .carousel-item {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 140%;
            object-fit: cover;
        }
    }
  }
  