 //Fuente del navbar
 .nav-item, .navlink {
    font-family: $font-main;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}
img {
    justify-content: center;
    padding: 35px
}
.navbar-brand img {
    max-width: 300px;
    height: auto;
}