.navbar {
    padding: 30px;
    .navbar-brand {
        display: flex;
        //padding: 15px;
        // Subclase para el logo
        // Subclase para los elementos de navegación  
    }
    img {
        display: block;
        max-width: 250px; // Asegura que el logo no exceda el contenedor
        height: auto;
        justify-content: center;
    }

}

.nav-item, .navlink {
    font-family: $font-main;
    font-weight: 380;
    font-size: 20px;
    font-style: normal;
}




