.navbar {
    padding: 30px;
    .navbar-brand {
        display: flex;
        //padding: 15px;
        // Subclase para el logo
        // Subclase para los elementos de navegación  
    }
    img {
        display: block;
        max-width: 250px; // Asegura que el logo no exceda el contenedor
        height: auto;
        justify-content: center;
    }
    a {
        text-decoration: none;
        font-family: $font-main;
        font-weight: 550;
        font-size: 22px;
        font-style: bold;   

        &:hover{
            color: #9a9a9a;
            //text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);        
        }
    }
}




