/* Propiedad Testimonios */
.testimonials .card {
    border-radius: none;
    overflow: hidden;
}
.testimonials .card-body {
    padding: 2rem;
}
.testimonials .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.testimonials .card-text {
    font-size: 1rem;
    color: $color-black;
}
.testimonials img {
    border: solid #e9ecef;
    padding: 5px;
    background-color: $color-black;
}