/* Propiedad Testimonios */
.testimonio .card {
    border-radius: none;
    overflow: hidden;
}
.testimonio .card-body {
    padding: 2rem;
}
.testimonio .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.testimonio .card-text {
    font-size: 1rem;
    color: $color-black;
}
.testimonio img {
    border: solid $color-white;
    padding: 5px;
    background-color: $color-black;
}